*{
    margin:0;
    padding:0;
    font-size: 32px;
}

#container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#colorInfo{
    background-color: rgba(15, 88, 88, 0.548);
    color: thistle;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

#changeColor{
    padding: 5px;
    font-size: 28px;
    border: 2px solid aliceblue;
    color:rgb(170, 97, 9);
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
}
button:active{
    transform: scale(0.95);
}